<div class="flex flex-col gap-4 w-full lg:w-3/4 mx-auto justify-center items-center lg:items-start">
  <div class="flex flex-col gap-2">
    <h1>Mon compte</h1>
    <div class="relative flex lg:gap-2 justify-center lg:justify-end">
      <img class="rounded-full w-40 h-40 cursor-pointer shadow object-cover"
           *ngIf="currentUser.avatar && !avatar; else placeholderAvatar"
           (click)="avatarInput.click()"
           src="{{api.slice(0, -4)}}{{currentUser.avatar}}" alt="user avatar">
      <mat-icon (click)="onRemoveImage()" class="absolute bottom-0 bg-red-500 text-white rounded-full right-0" matTooltip="Suppimer l'image"
                *ngIf="currentUser.avatar">delete
      </mat-icon>
      <input
        type="file" name="avatarInput" id="avatarInput" #avatarInput
        accept="image/*"
        class="hidden" (input)="onAvatarInput($event)">
    </div>
  </div>
  <form class="flex flex-col gap-4 w-full items-center lg:items-start" [formGroup]="nameFormGroup">
    <progress *ngIf="isLoadingImage" class="progress progress-primary  w-full"></progress>
    <div class="flex gap-2 lg:gap-4 flex-col lg:flex-row w-full lg:items-baseline {{isLoadingImage ? '' : 'mt-6'}}">
      <mat-form-field class="grow" appearance="fill">
        <mat-label>Nom</mat-label>
        <input type="text" matInput formControlName="lastname">
      </mat-form-field>
      <mat-form-field class="grow" appearance="fill">
        <mat-label>Prénom</mat-label>
        <input type="text" matInput formControlName="firstname">
      </mat-form-field>
      <div class="grow text-left">
        Né le: {{currentUser.birthDate | date : 'dd/MM/YYYY' }}
      </div>
    </div>
  </form>

  <form class="flex gap-4 items-center lg:items-start w-full" [formGroup]="contactFormGroup">
    <div class="flex flex-col gap-4 items-center w-full">
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Adresse</mat-label>
        <input matInput type="text" formControlName="address1">
      </mat-form-field>
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Complément Adresse</mat-label>
        <input matInput type="text" formControlName="address2">
      </mat-form-field>

      <div class="flex gap-4 justify-start w-full">
        <mat-form-field class="w-1/3" appearance="fill">
          <mat-label>Code Postal</mat-label>
          <input matInput type="text" formControlName="zipCode">
        </mat-form-field>
        <mat-form-field class="grow" appearance="fill">
          <mat-label>Ville</mat-label>
          <input matInput type="text" formControlName="city">
        </mat-form-field>
      </div>

      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email">
      </mat-form-field>

      <div class="flex gap-4 justify-start w-full max-w-full">
        <mat-form-field class="w-[40%] grow" appearance="fill">
          <mat-label>Téléphone principal</mat-label>
          <mat-hint *ngIf="!primaryPhoneFormControl.disabled">06 ou 03, sans espace</mat-hint>
          <input matInput type="text" formControlName="primaryPhone">
        </mat-form-field>
        <mat-form-field class="w-[40%] grow" appearance="fill">
          <mat-label>Téléphone secondaire</mat-label>
          <mat-hint *ngIf="!secondaryPhoneFormControl.disabled">06 ou 03, sans espace</mat-hint>
          <input matInput type="text" formControlName="secondaryPhone">
        </mat-form-field>
      </div>
    </div>
  </form>

  <div class="flex gap-4 w-full justify-end">
<!--    <mat-spinner *ngIf="isLoadingData" color="primary" diameter="20" class="m-auto"-->
<!--                 mode="indeterminate"></mat-spinner>-->
    <button (click)="onSubmit()"
            class="btn-primary btn {{isLoadingData ? 'loading': ''}}">
      Enregistrer les modifications
    </button>
  </div>
</div>

<ng-template #placeholderAvatar>
  <div (click)="avatarInput.click()"
       class="flex cursor-pointer justify-center items-center w-40 h-40 bg-blue-300 rounded-full text-white font-medium text-7xl shadow">
    {{currentUser.firstname?.slice(0, 1) | uppercase}}{{currentUser.lastname?.slice(0, 1) | uppercase}}
  </div>
</ng-template>
