<div class="flex flex-col gap-4 w-3/4 mx-auto justify-center items-start">
  <div class="flex gap-2">
    <h1>Mon compte</h1>
    <div class="relative">
      <img class="rounded-full w-40 h-40 cursor-pointer shadow object-cover"
           *ngIf="currentUser.avatar && !avatar; else placeholderAvatar"
           (click)="avatarInput.click()"
           src="{{api.slice(0, -4)}}{{currentUser.avatar}}" alt="user avatar">
      <mat-icon (click)="onRemoveImage()" class="absolute bottom-0 text-red-500 right-0" matTooltip="Suppimer l'image"
                *ngIf="currentUser.avatar">delete
      </mat-icon>
      <input
        type="file" name="avatarInput" id="avatarInput" #avatarInput
        (change)="onSubmit()"
        accept="image/*"
        class="hidden" (input)="onAvatarInput($event)">
    </div>
  </div>
  <form class="flex flex-col gap-4 w-full items-start" [formGroup]="nameFormGroup">
    <div class="flex gap-4">
      <mat-form-field appearance="fill">
        <mat-label>Nom</mat-label>
        <input type="text" matInput formControlName="lastname">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Prénom</mat-label>
        <input type="text" matInput formControlName="firstname">
      </mat-form-field>
      <button mat-icon-button class="bg-blue-800 text-white"
              (click)="nameFormGroup.disabled ? nameFormGroup.enable() : nameFormGroup.disable()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div>
      Date de Naissance {{currentUser.birthDate | date : 'dd/MM/YYYY' }}
    </div>
  </form>

  <form class="flex gap-4 items-top" [formGroup]="contactFormGroup">
    <div class="flex flex-col gap-4 items-start">
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Adresse</mat-label>
        <input matInput type="text" formControlName="address1">
      </mat-form-field>
      <mat-form-field class="w-full" appearance="fill">
        <mat-label>Complément Adresse</mat-label>
        <input matInput type="text" formControlName="address2">
      </mat-form-field>

      <div class="flex gap-4 justify-start">
        <mat-form-field appearance="fill">
          <mat-label>Code Postal</mat-label>
          <input matInput type="text" formControlName="zipCode">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Ville</mat-label>
          <input matInput type="text" formControlName="city">
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email">
      </mat-form-field>

      <div class="flex gap-4 justify-start">
        <mat-form-field appearance="fill">
          <mat-label>Téléphone principal</mat-label>
          <mat-hint *ngIf="!primaryPhoneFormControl.disabled">06 ou 03, sans espace</mat-hint>
          <input matInput type="text" formControlName="primaryPhone">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Téléphone secondaire</mat-label>
          <mat-hint *ngIf="!secondaryPhoneFormControl.disabled">06 ou 03, sans espace</mat-hint>
          <input matInput type="text" formControlName="secondaryPhone">
        </mat-form-field>
      </div>
    </div>
    <button mat-icon-button class="bg-blue-800 text-white"
            (click)="contactFormGroup.disabled ? contactFormGroup.enable() : contactFormGroup.disable()">
      <mat-icon>edit</mat-icon>
    </button>
  </form>

  <button (click)="onSubmit()"
          mat-button class="bg-blue-800 text-white">
    Enregistrer les modifications
  </button>
</div>

<ng-template #placeholderAvatar>
  <div (click)="avatarInput.click()"
       class="flex cursor-pointer justify-center items-center w-40 h-40 bg-blue-300 rounded-full text-white font-medium text-7xl shadow">
    {{currentUser.firstname?.slice(0, 1) | uppercase}}{{currentUser.lastname?.slice(0, 1) | uppercase}}
  </div>
</ng-template>
