<div class="card shadow bg-white">
  <div *ngIf="!isDeleteLoading; else progress" class="card-body">
    <div class="flex flex-col-reverse gap-2 md:gap-4 md:flex-row md:items-center justify-between w-full">
      <span class="card-title font-serif text-primary grow ">{{resource.title}}</span>
      <div class="flex justify-end flex-wrap gap-1 md:gap-3 items-center">
        <span *ngIf="resource.scope" class="badge badge-outline">{{scopeLabels.get(resource.scope)}}</span>
        <span class="badge flex gap-1">{{resource.views ?? 0}} <span class="hidden md:flex">vues</span></span>
        <button matTooltip="{{resource.readLater.length}}"
                matTooltipPosition="above"
                *ngIf="!isBookmarkLoading; else iconSpin"
                (click)="onCardAction('bookmark')"
                class="btn btn-ghost btn-circle btn-sm">
          <mat-icon class="text-md {{isAction('bookmark') ? 'text-success' : ''}}">bookmark</mat-icon>
        </button>
        <button matTooltip="{{resource.favorites.length}}"
                matTooltipPosition="above"
                *ngIf="!isFavoriteLoading; else iconSpin"
                (click)="onCardAction('favorite')"
                class="btn btn-ghost btn-circle btn-sm">
          <mat-icon class="text-md {{isAction('favorite') ? 'text-red-500' : ''}}">favorite</mat-icon>
        </button>
        <button matTooltip="{{resource.exploited.length}}"
                matTooltipPosition="above"
                *ngIf="!isThumbUpLoading; else iconSpin"
                (click)="onCardAction('thumbUp')"
                class="btn btn-ghost btn-circle btn-sm">
          <mat-icon class="text-md {{isAction('thumbUp') ? 'text-info' : ''}}">thumb_up</mat-icon>
        </button>
        <button *ngIf="isCurrentUserAuthor()"
                class="btn btn-ghost btn-circle btn-sm"
                [matMenuTriggerFor]="menu" aria-label="Author actions">
          <mat-icon>more_vert</mat-icon>
        </button>
        <ng-template #iconSpin>
          <button class="btn btn-ghost btn-circle btn-sm loading"></button>
        </ng-template>
      </div>
    </div>
    <div class="gap-4 justify-between w-full hidden md:flex">
      <span class="badge badge-secondary truncate overflow-hidden max-w-1/4">{{resource.type?.name}}</span>
      <span class="badge badge-secondary truncate overflow-hidden max-w-1/4">{{resource.category?.name}}</span>
    </div>
    <div class="flex gap-4 justify-between w-full">
      <span class="font-semibold {{isCurrentUserAuthor() ? 'badge badge-primary font-medium' : ''}}">{{resource.author?.firstname}} {{resource.author?.lastname}}</span>
      <span class="text-blue-500 text-right">{{resource.createdAt | date: 'medium' : 'CEST' : 'fr-FR'}}</span>
    </div>
    <p class="prose prose-sm max-w-none truncate">
      {{resource.richTextContent}}
    </p>
  </div>
  <figure *ngIf="resource.mediaUrl && !isDeleteLoading">
    <img src="{{apiUrl.slice(0,-4)}}{{resource.mediaUrl}}" alt="figure">
  </figure>
</div>

<ng-template #progress>
  <progress class="progress progress-error w-full"></progress>
</ng-template>


<mat-menu #menu="matMenu">
  <button (click)="onEdit()" mat-menu-item>
    <mat-icon>edit</mat-icon>
    <span>Éditer</span>
  </button>
  <button (click)="onDelete()" mat-menu-item>
    <mat-icon>delete</mat-icon>
    <span>Supprimer</span>
  </button>
</mat-menu>
