<div class="card shadow bg-white">
  <div class="card-body">
    <div class="flex flex-col-reverse gap-2 md:gap-4 md:flex-row md:items-center justify-between w-full">
      <span class="card-title font-serif text-primary grow">{{resource.title}}</span>
      <div class="flex justify-end gap-1 md:gap-3 items-center">
        <span *ngIf="resource.scope" class="badge badge-outline">{{scopeLabels.get(resource.scope)}}</span>
        <span class="badge flex gap-1">{{resource.views}} <span class="hidden md:flex">vues</span></span>
        <button class="btn btn-ghost btn-circle btn-sm">
          <mat-icon class="text-md">bookmark</mat-icon>
        </button>
        <button class="btn btn-ghost btn-circle btn-sm">
          <mat-icon class="text-md">favorite</mat-icon>
        </button>
        <button class="btn btn-ghost btn-circle btn-sm">
          <mat-icon class="text-md">thumb_up</mat-icon>
        </button>
      </div>
    </div>
    <div class="gap-4 justify-between w-full hidden md:flex">
      <span class="badge badge-secondary truncate overflow-hidden max-w-1/4">{{resource.type?.name}}</span>
      <span class="badge badge-secondary truncate overflow-hidden max-w-1/4">{{resource.category?.name}}</span>
    </div>
    <div class="flex gap-4 justify-between w-full">
      <span class="font-semibold">{{resource.author?.firstname}} {{resource.author?.lastname}}</span>
      <span class="text-blue-500 text-right">{{resource.createdAt | date: 'medium' : 'CEST' : 'fr-FR'}}</span>
    </div>
    <p class="prose prose-sm max-w-none">
      {{resource.richTextContent}}
    </p>
  </div>
  <figure *ngIf="resource.mediaUrl">
    <img src="{{apiUrl}}{{resource.mediaUrl}}" alt="figure">
  </figure>
</div>
