<footer class="footer footer-center p-10 bg-neutral text-neutral-content">
  <div>
    <div class="flex gap-4 flex-col md:flex-row">
      <img class="h-32" src="../../../assets/ressources-relationnelles-logo.png" alt="logo app">
      <img class="h-32 p-2 bg-white" src="../../../assets/MIN_Sante_Prevention_RVB-s.png" alt="logo gouv">
    </div>
    <p class="font-bold">
      {{appName}} <br>{{appDescription}}
    </p>
    <p>Copyright © 2022 - Code Brasseur</p>
    <a target="_blank" href="https://code-brasseur.notion.site/Projet-Cube-9645edf81463434c9e7c93caffc94a00">
      <img class="w-16" src="../../../assets/badge-caudeBrasseur-light.png" alt="codebrasseur logo">
    </a>
  </div>
</footer>
