@font-face {
  font-family: 'Yeseva One';
  src: url('YesevaOne-Regular.woff2') format('woff2'),
  url('YesevaOne-Regular.woff') format('woff'),
  url('YesevaOne-Regular.ttf') format('truetype'),
  url('YesevaOne-Regular.svg#YesevaOne-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Marianne';
    src: url('Marianne-LightItalic.woff2') format('woff2'),
        url('Marianne-LightItalic.woff') format('woff'),
        url('Marianne-LightItalic.ttf') format('truetype'),
        url('Marianne-LightItalic.svg#Marianne-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Marianne';
    src: url('Marianne-Thin.woff2') format('woff2'),
        url('Marianne-Thin.woff') format('woff'),
        url('Marianne-Thin.ttf') format('truetype'),
        url('Marianne-Thin.svg#Marianne-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marianne';
    src: url('Marianne-ExtraBoldItalic.woff2') format('woff2'),
        url('Marianne-ExtraBoldItalic.woff') format('woff'),
        url('Marianne-ExtraBoldItalic.ttf') format('truetype'),
        url('Marianne-ExtraBoldItalic.svg#Marianne-ExtraBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Marianne';
    src: url('Marianne-BoldItalic.woff2') format('woff2'),
        url('Marianne-BoldItalic.woff') format('woff'),
        url('Marianne-BoldItalic.ttf') format('truetype'),
        url('Marianne-BoldItalic.svg#Marianne-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Marianne';
    src: url('Marianne-Medium.woff2') format('woff2'),
        url('Marianne-Medium.woff') format('woff'),
        url('Marianne-Medium.ttf') format('truetype'),
        url('Marianne-Medium.svg#Marianne-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marianne';
    src: url('Marianne-Bold.woff2') format('woff2'),
        url('Marianne-Bold.woff') format('woff'),
        url('Marianne-Bold.ttf') format('truetype'),
        url('Marianne-Bold.svg#Marianne-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marianne';
    src: url('Marianne-ExtraBold.woff2') format('woff2'),
        url('Marianne-ExtraBold.woff') format('woff'),
        url('Marianne-ExtraBold.ttf') format('truetype'),
        url('Marianne-ExtraBold.svg#Marianne-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marianne';
    src: url('Marianne-RegularItalic.woff2') format('woff2'),
        url('Marianne-RegularItalic.woff') format('woff'),
        url('Marianne-RegularItalic.ttf') format('truetype'),
        url('Marianne-RegularItalic.svg#Marianne-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Marianne';
    src: url('Marianne-ThinItalic.woff2') format('woff2'),
        url('Marianne-ThinItalic.woff') format('woff'),
        url('Marianne-ThinItalic.ttf') format('truetype'),
        url('Marianne-ThinItalic.svg#Marianne-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Marianne';
    src: url('Marianne-Light.woff2') format('woff2'),
        url('Marianne-Light.woff') format('woff'),
        url('Marianne-Light.ttf') format('truetype'),
        url('Marianne-Light.svg#Marianne-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marianne';
    src: url('Marianne-Regular.woff2') format('woff2'),
        url('Marianne-Regular.woff') format('woff'),
        url('Marianne-Regular.ttf') format('truetype'),
        url('Marianne-Regular.svg#Marianne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Marianne';
    src: url('Marianne-MediumItalic.woff2') format('woff2'),
        url('Marianne-MediumItalic.woff') format('woff'),
        url('Marianne-MediumItalic.ttf') format('truetype'),
        url('Marianne-MediumItalic.svg#Marianne-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

