<div class="w-full flex flex-col items-center gap-2 md:gap-4">
  <h1 class="fr-h1">Se connecter</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="flex flex-col w-3/4 gap-4 items-center">
    <div>
      <label class="fr-label" for="email-input">Email</label>
      <input class="fr-input" type="email" id="email-input" name="email-input" required formControlName="email">
    </div>
    <div>
      <label class="fr-label" for="pass-input">Mot de passe</label>
      <input class="fr-input" type="password" id="pass-input" name="pass-input" required formControlName="password">
    </div>
    <div class="flex flex-col flex-col-reverse justify-center items-center md:flex-row gap-4 mt-4 md:mt-16 md:items-start">
      <div class="fr-connect-group">
        <button class="fr-connect">
          <span class="fr-connect__login">S’identifier avec</span>
          <span class="fr-connect__brand">FranceConnect</span>
        </button>
        <p>
          <a href="https://franceconnect.gouv.fr/" target="_blank" rel="noopener"
             title="Qu’est ce que FranceConnect ? - nouvelle fenêtre">Qu’est ce que FranceConnect ?</a>
        </p>
      </div>
      <button class="fr-btn w-full md:w-52 h-14 justify-center">
        Login
      </button>
      <a class="fr-link fr-fi-lock-line" [routerLink]="['/register']">Créer un compte</a>
    </div>
  </form>
</div>

