<mat-dialog-content>
  <ais-instantsearch [config]="config">
    <ais-search-box></ais-search-box>

    <div class="flex flex-col md:flex-row gap-4">
      <ais-index indexName="users_index">
        <h2>Citoyens</h2>
        <ais-hits>
          <ng-template let-hits="hits">
            <ol class="ais-Hits-list">
              <li *ngFor="let hit of hits" class="ais-Hits-item">
                <a mat-dialog-close="" [routerLink]="['profiles', hit.id]">{{hit.firstname}} {{hit.lastname}}</a>
              </li>
            </ol>
          </ng-template>
        </ais-hits>
      </ais-index>

      <ais-index indexName="resources_index">
        <h2>Ressources</h2>
        <ais-hits>
          <ng-template let-hits="hits">
            <ol class="ais-Hits-list">
              <li *ngFor="let hit of hits" class="ais-Hits-item">
                <a mat-dialog-close="" [routerLink]="['resources', hit.id]">{{hit.title}}</a>
              </li>
            </ol>
          </ng-template>
        </ais-hits>
      </ais-index>
    </div>
  </ais-instantsearch>
</mat-dialog-content>
