<app-nav-top></app-nav-top>
<div class="grid grid-cols-5 h-screen">
  <div class="fr-background-alt--blue-ecume col-span-1 pt-4">
    <nav class="flex flex-col justify-center">
      <a class="mx-auto hover:text-gray-900 p-2">Tableau de bord</a>
      <a class="mx-auto hover:text-gray-900 p-2">Ressources</a>
      <a class="mx-auto hover:text-gray-900 p-2">Utilisateurs</a>
      <a class="mx-auto hover:text-gray-900 p-2">Statistiques</a>
    </nav>
  </div>
  <div class="col-auto flex flex-wrap">
    <div class="m-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

