<mat-toolbar class="flex justify-between bg-gray-50 shadow z-40">

  <div class="gap-4 hidden md:flex items-baseline">
    <a [matTooltip]="headerLinkTitle" class="text-white text-sm bg-teal-400 p-2 rounded"
       [routerLink]="['/']">{{appName}}</a>
    <a class="text-primary text-sm"
       *ngIf="isRouteGranted('saved/:type') && (isConnected | async)"
       [routerLinkActive]="['font-bold', 'underline']"
       [routerLink]="['/saved/read_later']">
      À lire plus tard</a>
    <a class="text-primary text-sm"
       *ngIf="isRouteGranted('saved/:type') && (isConnected | async)"
       [routerLinkActive]="['font-bold', 'underline']"
       [routerLink]="['/saved/favorites']">
      Favoris</a>
    <a class="text-primary text-sm"
       *ngIf="isRouteGranted('saved/:type') && (isConnected | async)"
       [routerLinkActive]="['font-bold', 'underline']"
       [routerLink]="['/saved/exploited']">
      Exploités</a>
    <a class="text-secondary text-sm"
       *ngIf="isRouteGranted('admin/resources') && (isConnected | async)"
       [routerLinkActive]="['font-bold', 'underline']"
       [routerLink]="['/admin/resources']">Resources en attente</a>
    <a class="text-secondary text-sm"
       *ngIf="isRouteGranted('admin/profiles') && (isConnected | async)"
       [routerLinkActive]="['font-bold', 'underline']"
       [routerLink]="['/admin/profiles']">Utilisateurs</a>
    <a class="text-secondary text-sm"
       *ngIf="isRouteGranted('admin/statistics') && (isConnected | async)"
       [routerLinkActive]="['font-bold', 'underline']"
       [routerLink]="['/admin/statistics']">Statistiques</a>
  </div>

  <div *ngIf="isConnected | async; else registerBtns" class="md:flex gap-4 hidden">
    <a [routerLink]="['/profiles', currentUser.id]" [routerLinkActive]="['btn-active']"
       matTooltip="Mon profil"
       class="btn btn-accent gap-2 items-center btn-outline indicator">

      <span
        class="indicator-item indicator-bottom indicator-start badge badge-secondary">{{pendingRequestsAmount}}</span>
      <div class="gap-2 text-sm hidden lg:flex">
        <span>{{currentUser.firstname}}</span>
        <span>{{currentUser.lastname}}</span>
      </div>
      <img *ngIf="currentUser.avatar; else placeholderThumbnail"
           class="w-10 h-10 rounded-full"
           src="{{apiUrl.slice(0, -4)}}{{currentUser.avatar}}" alt="avatar-thumbnail">
    </a>
    <button [matTooltip]="shortcutName" (click)="openSearchBox()" class="btn btn-accent gap-2">
      <div *ngIf="shortcutName === 'cmd + K'" class="gap-1 items-center hidden xl:flex">
        <kbd class="kbd">cmd</kbd>
        +
        <kbd class="kbd">K</kbd>
      </div>
      <div *ngIf="shortcutName === 'ctrl + K'" class="flex gap-1  items-center">
        <kbd class="kbd">ctrl</kbd>
        +
        <kbd class="kbd">K</kbd>
      </div>
      <mat-icon>search</mat-icon>
    </button>
    <a [routerLink]="['/account']" class="btn btn-primary" matTooltip="Mon compte">
      <mat-icon>manage_accounts</mat-icon>
    </a>
    <button class="btn btn-error" matTooltip="Se déconnecter" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>

  <div class="md:hidden flex gap-2 justify-between w-full">
    <button (click)="isSidenavOpen = !isSidenavOpen" class="btn btn-primary">
      <mat-icon>{{isSidenavOpen ? 'menu_open' : 'menu'}}</mat-icon>
    </button>

    <a *ngIf="isConnected | async"
       [routerLink]="['/profiles', currentUser.id]" [routerLinkActive]="['btn-active']"
       matTooltip="Mon profil"
       class="btn btn-accent gap-2 items-center btn-outline indicator">
      <span
        class="indicator-item indicator-bottom indicator-start z-40 badge badge-secondary">{{pendingRequestsAmount}}</span>
      <div class="flex gap-2 text-sm">
        <span>{{currentUser.firstname?.slice(0,1)}}.</span>
        <span>{{currentUser.lastname}}</span>
      </div>
      <img *ngIf="currentUser.avatar; else placeholderThumbnail"
           class="w-10 h-10 rounded-full"
           src="{{apiUrl.slice(0, -4)}}{{currentUser.avatar}}" alt="avatar-thumbnail">
    </a>
  </div>
</mat-toolbar>

<div class="flex flex-col justify-between h-[calc(100vh-56px)] w-3/4 p-4
            absolute z-30 {{isSidenavOpen ? 'left-0' :'-left-[100%]'}}
            transition-all duration-300 bg-gray-100 shadow">
  <div class="flex flex-col gap-4">
    <a class="bg-teal-400 p-2 rounded text-white flex gap-2 items-center"
       (click)="isSidenavOpen = false"
       [routerLink]="['/']">
      <mat-icon>home</mat-icon>
      <span>{{appName}}</span>
    </a>
    <a class="text-primary flex gap-2 items-center"
       *ngIf="isRouteGranted('saved/:type') && (isConnected | async)"
       (click)="isSidenavOpen = false"
       [routerLink]="['/saved/read_later']">
      <mat-icon>bookmark</mat-icon>
      À lire plus tard</a>
    <a class="text-primary flex gap-2 items-center"
       *ngIf="isRouteGranted('saved/:type') && (isConnected | async)"
       (click)="isSidenavOpen = false"
       [routerLink]="['/saved/favorites']">
      <mat-icon>favorite</mat-icon>
      Favoris</a>
    <a class="text-primary flex gap-2 items-center"
       *ngIf="isRouteGranted('saved/:type') && (isConnected | async)"
       (click)="isSidenavOpen = false"
       [routerLink]="['/saved/exploited']">
      <mat-icon>thumb_up</mat-icon>
      Exploitées</a>
    <!--    back office-->
    <a class="text-secondary flex gap-2 items-center"
       *ngIf="isRouteGranted('admin/profiles') && (isConnected | async)"
       (click)="isSidenavOpen = false"
       [routerLink]="['/admin/profiles']">
      <mat-icon>group</mat-icon>
      Utilisateurs</a>
    <a class="text-secondary flex gap-2 items-center"
       *ngIf="isRouteGranted('admin/resources') && (isConnected | async)"
       (click)="isSidenavOpen = false"
       [routerLink]="['/admin/resources']">
      <mat-icon>auto_stories</mat-icon>
      <span>Ressources en attente</span></a>
    <a class="text-secondary flex gap-2 items-center"
       *ngIf="isRouteGranted('admin/statistics') && (isConnected | async)"
       (click)="isSidenavOpen = false"
       [routerLink]="['/admin/statistics']">
      <mat-icon>insights</mat-icon>
      <span>Statistiques</span></a>
  </div>

  <div *ngIf="isConnected | async; else registerBtnsSm" class="flex flex-col gap-4">
    <button [matTooltip]="shortcutName" (click)="openSearchBox()" class="btn">
      <mat-icon>search</mat-icon>
    </button>
    <a [routerLink]="['/account']"
       class="btn btn-primary"
       (click)="isSidenavOpen = false"
       matTooltip="Mon compte">
      <mat-icon>manage_accounts</mat-icon>
    </a>
    <button class="btn btn-error"
            matTooltip="Se déconnecter" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</div>

<ng-template #placeholderThumbnail>
  <div
    class="flex cursor-pointer justify-center items-center w-10 h-10 bg-blue-300 rounded-full text-white font-medium text-xl">
    {{currentUser.firstname?.slice(0, 1) | uppercase}}{{currentUser.lastname?.slice(0, 1) | uppercase}}
  </div>
</ng-template>
<ng-template #registerBtns>
  <div class="md:flex gap-4 hidden ">
    <button [matTooltip]="shortcutName" (click)="openSearchBox()" class="btn">
      <mat-icon>search</mat-icon>
    </button>
    <a [routerLink]="['/login']" class="btn btn-primary" matTooltip="Se connecter">
      <mat-icon>login</mat-icon>
    </a>
    <a [routerLink]="['/register']" class="btn btn-primary" matTooltip="S'enregistrer">
      <mat-icon>badge</mat-icon>
    </a>
  </div>
</ng-template>
<ng-template #registerBtnsSm>
  <div class="flex flex-col gap-4">
    <button [matTooltip]="shortcutName" (click)="openSearchBox()" class="btn">
      <mat-icon>search</mat-icon>
    </button>
    <a matTooltip="Se connecter"
       (click)="isSidenavOpen = false"
       class="btn btn-primary"
       [routerLink]="['/login']">
      <mat-icon>login</mat-icon>
    </a>
    <a matTooltip="S'enregistrer"
       (click)="isSidenavOpen = false"
       class="btn btn-primary"
       [routerLink]="['/register']">
      <mat-icon>badge</mat-icon>
    </a>
  </div>
</ng-template>
