<mat-toolbar class="flex justify-between bg-gray-50 shadow z-50">

  <div class="gap-4 hidden md:flex">
    <a [matTooltip]="headerLinkTitle" class="text-blue-800 text-sm" [routerLink]="['/']">{{appName}}</a>
    <a class="text-blue-800 text-sm" [routerLinkActive]="['font-bold', 'underline']" [routerLink]="['/dashboard']">Dashboard</a>
    <a class="text-blue-800 text-sm" [routerLinkActive]="['font-bold', 'underline']" [routerLink]="['/statistics']">Statistiques</a>
    <a class="text-blue-800 text-sm" [routerLinkActive]="['font-bold', 'underline']" [routerLink]="['/users']">Liste des utilisateurs</a>
  </div>

  <ng-template #registerBtns>
    <div class="md:flex gap-4 hidden ">
      <a [routerLink]="['/login']" class="bg-blue-800 text-white" mat-button matTooltip="Se connecter">
        <mat-icon>login</mat-icon>
      </a>
      <a [routerLink]="['/register']" class="bg-blue-800 text-white" mat-button matTooltip="S'enregistrer">
        <mat-icon>badge</mat-icon>
      </a>
    </div>
  </ng-template>

  <div *ngIf="isConnected | async; else registerBtns" class="md:flex gap-4 hidden ">
    <a [routerLink]="['/account']" class="bg-blue-800 text-white" mat-button matTooltip="Mon profil">
      <mat-icon>account_circle</mat-icon>
    </a>
    <button class="bg-blue-800 text-white" mat-button matTooltip="Se déconnecter" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
  <div class="md:hidden">
    <button (click)="isSidenavOpen = !isSidenavOpen" class="bg-blue-800 text-white" mat-button>
      <mat-icon>{{isSidenavOpen ? 'menu_open' : 'menu'}}</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div
  class="absolute {{isSidenavOpen ? 'left-0' :'-left-[100%]'}} flex flex-col justify-between z-40 transition-all duration-300 h-[calc(100vh-56px)] w-3/4 p-4 bg-gray-50 shadow">
  <div class="flex flex-col gap-4">
    <a class="text-blue-800" [routerLink]="['/dashboard']">Dashboard</a>
    <a class="text-blue-800" [routerLink]="['/statistics']">Statistiques</a>
    <!--    back office-->
    <a class="text-blue-800" [routerLink]="['/users']">Liste des utilisateurs</a>
  </div>

  <ng-template #registerBtnsSm>
    <div class="flex flex-col gap-4">
      <a mat-button matTooltip="S'enregistrer" class="bg-blue-800 text-white" [routerLink]="['/register']">
        <mat-icon>badge</mat-icon>
      </a>
      <a mat-button matTooltip="Se connecter" class="bg-blue-800 text-white" [routerLink]="['/login']">
        <mat-icon>login</mat-icon>
      </a>
    </div>
  </ng-template>

  <div *ngIf="isConnected | async; else registerBtnsSm" class="flex flex-col gap-4">
    <button class="bg-blue-800 text-white" mat-button matTooltip="Se déconnecter" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
    <a [routerLink]="['/account']" class="bg-blue-800 text-white" mat-button matTooltip="Mon profil">
      <mat-icon>account_circle</mat-icon>
    </a>
  </div>
</div>

