<mat-toolbar class="flex justify-between bg-gray-50 shadow z-40">

  <div class="gap-4 hidden md:flex items-baseline">
    <a [matTooltip]="headerLinkTitle" class="text-white text-sm bg-teal-400 p-2 rounded"
       [routerLink]="['/']">{{appName}}</a>
    <a class="text-primary text-sm"
       *ngIf="isConnected | async"
       [routerLinkActive]="['font-bold', 'underline']"
       [routerLink]="['/dashboard']">Dashboard</a>
    <a class="text-primary text-sm"
       *ngIf="isConnected | async"
       [routerLinkActive]="['font-bold', 'underline']"
       [routerLink]="['/users']">Liste des utilisateurs</a>
    <a class="text-primary text-sm"
       *ngIf="isConnected | async"
       [routerLinkActive]="['font-bold', 'underline']"
       [routerLink]="['/admin/statistics']">Statistiques</a>
  </div>

  <ng-template #registerBtns>
    <div class="md:flex gap-4 hidden ">
      <a [routerLink]="['/login']" class="btn btn-primary" matTooltip="Se connecter">
        <mat-icon>login</mat-icon>
      </a>
      <a [routerLink]="['/register']" class="btn btn-primary" matTooltip="S'enregistrer">
        <mat-icon>badge</mat-icon>
      </a>
    </div>
  </ng-template>

  <div *ngIf="isConnected | async; else registerBtns" class="md:flex gap-4 hidden ">

    <div class="flex gap-2 items-center rounded hover:bg-accent hover:text-white py-1 px-2 cursor-pointer">
      <div class="flex gap-2 text-sm">
        <span>{{currentUser.firstname}}</span>
        <span>{{currentUser.lastname}}</span>
      </div>
      <img *ngIf="currentUser.avatar; else placeholderThumbnail"
           class="w-10 h-10 rounded-full"
           src="{{apiUrl.slice(0, -4)}}{{currentUser.avatar}}" alt="avatar-thumbnail">
    </div>

    <a [routerLink]="['/account']" class="btn btn-primary" matTooltip="Mon compte">
      <mat-icon>manage_accounts</mat-icon>
    </a>
    <button class="btn btn-primary" matTooltip="Se déconnecter" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
  <div class="md:hidden flex gap-2 justify-between w-full">
    <button (click)="isSidenavOpen = !isSidenavOpen" class="btn btn-primary">
      <mat-icon>{{isSidenavOpen ? 'menu_open' : 'menu'}}</mat-icon>
    </button>

    <div class="flex gap-2 items-center rounded hover:bg-accent hover:text-white py-1 px-2 cursor-pointer">
      <div class="flex gap-2 text-sm">
        <span>{{currentUser.firstname}}</span>
        <span>{{currentUser.lastname}}</span>
      </div>
      <img *ngIf="currentUser.avatar; else placeholderThumbnail"
           class="w-10 h-10 rounded-full"
           src="{{apiUrl.slice(0, -4)}}{{currentUser.avatar}}" alt="avatar-thumbnail">
    </div>
  </div>
</mat-toolbar>

<div
  class="absolute {{isSidenavOpen ? 'left-0' :'-left-[100%]'}} flex flex-col justify-between z-40 transition-all duration-300 h-[calc(100vh-56px)] w-3/4 p-4 bg-gray-100 shadow">
  <div class="flex flex-col gap-4">
    <a class="bg-teal-400 p-2 rounded text-white flex gap-2 items-center"
       (click)="isSidenavOpen = false"
       [routerLink]="['/']">
      <mat-icon>home</mat-icon>
      <span>{{appName}}</span>
    </a>
    <a class="text-primary flex gap-2 items-center"
       *ngIf="isConnected | async"
       (click)="isSidenavOpen = false"
       [routerLink]="['/dashboard']">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span></a>
    <a class="text-primary flex gap-2 items-center"
       *ngIf="isConnected | async"
       (click)="isSidenavOpen = false"
       [routerLink]="['/users']">
      <mat-icon>group</mat-icon>
      Liste des utilisateurs</a>
    <!--    back office-->
    <a class="text-primary flex gap-2 items-center"
       *ngIf="isConnected | async"
       (click)="isSidenavOpen = false"
       [routerLink]="['/admin/statistics']">
      <mat-icon>insights</mat-icon>
      <span>Statistiques</span></a>
  </div>

  <ng-template #registerBtnsSm>
    <div class="flex flex-col gap-4">
      <a mat-button matTooltip="Se connecter"
         (click)="isSidenavOpen = false"
         class="bg-primary text-white"
         [routerLink]="['/login']">
        <mat-icon>login</mat-icon>
      </a>
      <a mat-button matTooltip="S'enregistrer"
         (click)="isSidenavOpen = false"
         class="bg-primary text-white"
         [routerLink]="['/register']">
        <mat-icon>badge</mat-icon>
      </a>
    </div>
  </ng-template>

  <div *ngIf="isConnected | async; else registerBtnsSm" class="flex flex-col gap-4">
    <a [routerLink]="['/account']"
       class="bg-primary text-white"
       (click)="isSidenavOpen = false"
       mat-button matTooltip="Mon compte">
      <mat-icon>manage_accounts</mat-icon>
    </a>
    <button class="bg-primary text-white"
            mat-button (click)="isSidenavOpen = false"
            matTooltip="Se déconnecter" (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</div>

<ng-template #placeholderThumbnail>
  <div
    class="flex cursor-pointer justify-center items-center w-10 h-10 bg-blue-300 rounded-full text-white font-medium text-xl">
    {{currentUser.firstname?.slice(0, 1) | uppercase}}{{currentUser.lastname?.slice(0, 1) | uppercase}}
  </div>
</ng-template>
