<header class="shadow-2xl">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <div class="fr-header__brand-top mr-auto">
      <div class="fr-header__logo">
        <a href="/" title="Dashboard">
          <p class="fr-logo">
            (Re)ssources
            <br>Relationnelles
          </p>
        </a>
      </div>
    </div>
    <ul class="fr-btns-group">
      <li>
        <button class="fr-btn">
          Profil
        </button>
      </li>
      <li>
        <button class="fr-btn fr-btn--secondary">
          Déconnexion
        </button>
      </li>
    </ul>
  </div>
</header>
